{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "project": "./tsconfig.json"
  },
  "plugins": ["@typescript-eslint", "import"],
  "env": {
    "node": true,
    "jest": true
  },
  "extends": [
    "airbnb-typescript/base",
    "plugin:@typescript-eslint/recommended",
    "prettier/@typescript-eslint",
    "prettier",
    "plugin:prettier/recommended",
    "plugin:jest/recommended"
  ],
  "rules": {
    "import/prefer-default-export": "off",
    "no-nested-ternary": "off",
    "no-underscore-dangle": "off"
  }
}
